* {
  text-align: right;
}

body {
  background-image: url(leaves.png);
  background-size: cover;
}

h2 {
  color: rgb(180, 42, 42);
  text-align: center;
}

img {
  float: right;
}

footer {
  clear: both;
  text-align: center;
  color: rgb(180, 42, 42);
  font-family: "Gupter", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 120%;
}

p {
  color: rgb(5, 65, 5);
  text-align: center;
  border: 5px solid rgba(255, 176, 178, 0.2);
  cursor: pointer;
}

p {
  line-height: 40px;
  font-style: italic;
  font-weight: bold;
  font-size: 120%;
  font-family: "Gupter", serif;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext:first-child {
  border: 5px dashed rgba(000, 200, 100, 0.2);
}

.active {
  color: red;
}

#div1 {
  background-color: rgba(000, 000, 255, 0.1);
}

#div2 {
  background-color: rgba(255, 000, 000, 0.1);
}