* {
	text-align: right;
}

body {
	background-image: url(leaves.png);
	background-size: cover;
}

h2, p {
	color: darkgreen;
	text-align: center; 
	border: 5px solid rgba(255, 176, 178, 0.2);
	cursor: pointer;

}

li {
	list-style: none;
	display: inline-block;
}

.webtext:first-child {
	border: 5px dashed rgba(000, 200, 100, 0.2); 
}

.active {
	color: red;
}

#div1 {
	background-color: rgba(000, 000, 255, 0.1);
}

#div2 {
	background-color: rgba(255, 000, 000, 0.1);
}