body {
	background-image: url(leaves.png);
	background-size: cover;
}
h2 {
	color: darkgreen;
	text-align: center;
	border: 5px solid rgb(255, 176, 178);
	cursor: pointer;

}

p {
	color: green;
}

li {
	list-style: none;
	display: inline-block;
}